---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "About",
      path: "/about",
    },
    {
      title: "Careers",
      path: "#",
    },
    {
      title: "Blog",
      path: "/blog",
    },
    {
      title: "Contact",
      path: "/contact",
    },
  ],
  product: [
    {
      title: "For Startups",
      path: "#",
    },
    {
      title: "Features",
      path: "#",
    },
    {
      title: "Pricing",
      path: "/pricing",
    },
    {
      title: "Integrations",
      path: "#",
    },
  ],
  resources: [
    {
      title: "Help Center",
      path: "#",
    },
    {
      title: "Guides",
      path: "#",
    },
    {
      title: "Documentation",
      path: "#",
    },
    {
      title: "Uptime Status",
      path: "#",
    },
  ],
};
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="/" class="text-lg flex items-center"
          >
          <span class="font-bold text-indigo-600">Pen Loop&nbsp;</span><span
            class="text-slate-600">Studio</span
          >
        </a>
        <p class="mt-4 text-md text-slate-700 max-w-xs">
          169 Madison Ave, Suite 11048<br />
          New York, New York 10016
        </p>
        <p class="mt-4 text-md text-slate-700 max-w-xs">
          <a
            href="mailto:info@penloop.io"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="uil:envelope" class="w-4 h-4" />
            </a>
          <span class="rounded h-6 inline-flex items-center justify-center text-slate-500">
            info@penloop.io
          </span>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Company</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.company.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Product</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.product.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Resources</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.resources.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

</footer>
