---

---

<div
    class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8">
  <h2 class="text-center text-slate-500">
    Our engineers come from established tech companies.
  </h2>
  <div
    class="flex gap-x-8 gap-y-4 md:gap-20 lg:gap-28 items-center justify-center mt-6 flex-wrap">
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <img
      src="/1.svg"
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <img
        src="/2.png"
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <img
        src="/3.png"
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <img
        src="/4.svg"
      />
    </div>


  </div>
</div>
